/* BASICS */

:root {
    --azul-1: #42A5F5;
    --azul-2: #90CAF9;
    --branco-1: #FFFFFF;
    --branco-2: #C9C9C9;
    --bege-1: #E8E3C7;
    --cinza-1: #635b59;
    --preto-1: #000000;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img,
iframe {
    max-width: 100%;
}

.none {
    display: none;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}


/* BASICS */


/* HEADER */

.main-header {
    background-color: var(--azul-1);
    height: 60px;
    width: 100%;
}

.main-header .five-stars {
    font-size: 12px;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 0 15px;
    text-align: center;
}

.main-header .brand {
    text-align: center;
    width: 150px;
}

.main-header .brand a {
    display: block;
    text-decoration: none;
}

.main-header .brand h1 {
    color: var(--branco-1);
    font-size: 24px;
    line-height: 60px;
    margin: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.main-header .brand h1:hover {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.main-header .menu {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    position: relative;
    width: 50px;
}

.main-header .menu .cart {
    border-radius: 10%;
    border: 2px solid var(--branco-1);
    cursor: pointer;
    font-size: 28px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    width: 40px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.main-header .menu .cart a {
    color: var(--preto-1);
}

.main-header .menu .cart i {
    display: block;
}

.main-header .menu .cart:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}


/* HEADER */


/* HOME */

.welcome {
    background-color: var(--azul-2);
    text-align: center;
}

.welcome h2 {
    font-family: 'Cookie', cursive;
    font-size: 35pt;
    margin: 0;
}

.welcome p {
    color: var(--branco-1);
    margin-top: 20px;
    padding-bottom: 20px;
}

.box-fruits {
    position: relative;
    text-align: center;
    width: 100%;
}

.box-fruits .fruit-head {
    font-family: 'Cookie', cursive;
    font-size: 24px;
}

.fruits-list {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0 0;
    text-align: center;
}

.item {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid rgba(172, 166, 166, 0.1);
    display: inline-block;
    line-height: 0;
    margin: 10px;
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    width: 249px;
}

.item:hover {
    box-shadow: 0px 0px 10px -5px #000000;
}

.item img {
    zoom: 30%;
}

.item .name h2 {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin: 0;
}


/* FONT_STYLE */

.dashed-shadow {
    position: relative;
    top: 8px;
    left: 8px;
    display: inline-block;
    color: var(--preto-1);
}

@keyframes dash-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.dashed-shadow:before {
    content: " ";
    display: block;
    position: absolute;
    top: -8px;
    left: -8px;
    bottom: -2px;
    right: -2px;
    z-index: 1;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0MSIgaGVpZ2h0PSI1OTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+IDxkZWZzPiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAiIHkxPSIxIiB4Mj0iMSIgeTI9IjAiPiAgIDxzdG9wIG9mZnNldD0iMTIuNSUiIHN0b3AtY29sb3I9IiM2OUIxRTkiLz4gICA8c3RvcCBvZmZzZXQ9IjEyLjUlIiBzdG9wLWNvbG9yPSIjNjlCMUU5IiBzdG9wLW9wYWNpdHk9IjAiLz4gICA8c3RvcCBvZmZzZXQ9IjM3LjUlIiBzdG9wLWNvbG9yPSIjNjlCMUU5IiBzdG9wLW9wYWNpdHk9IjAiLz4gICA8c3RvcCBvZmZzZXQ9IjM3LjUlIiBzdG9wLWNvbG9yPSIjNjlCMUU5Ii8+ICAgPHN0b3Agb2Zmc2V0PSI2Mi41JSIgc3RvcC1jb2xvcj0iIzY5QjFFOSIvPiAgIDxzdG9wIG9mZnNldD0iNjIuNSUiIHN0b3AtY29sb3I9IiM2OUIxRTkiIHN0b3Atb3BhY2l0eT0iMCIvPiAgIDxzdG9wIG9mZnNldD0iODcuNSUiIHN0b3AtY29sb3I9IiM2OUIxRTkiIHN0b3Atb3BhY2l0eT0iMCIvPiAgIDxzdG9wIG9mZnNldD0iODcuNSUiIHN0b3AtY29sb3I9IiM2OUIxRTkiLz4gIDwvbGluZWFyR3JhZGllbnQ+IDwvZGVmcz4gPGc+ICA8dGl0bGU+YmFja2dyb3VuZDwvdGl0bGU+ICA8cmVjdCB4PSItMSIgeT0iLTEiIHdpZHRoPSIxMTQzIiBoZWlnaHQ9IjU5OSIgaWQ9ImNhbnZhc19iYWNrZ3JvdW5kIiBmaWxsPSJub25lIi8+IDwvZz4gPGc+ICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+ICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiBpZD0ic3ZnXzEiLz4gPC9nPjwvc3ZnPg==');
    background-size: 100%;
    background-image: -moz-linear-gradient(45deg, var(--azul-2) 12.5%, rgba(232, 227, 199, 0) 12.5%, rgba(232, 227, 199, 0) 37.5%, var(--azul-2) 37.5%, var(--azul-2) 62.5%, rgba(232, 227, 199, 0) 62.5%, rgba(232, 227, 199, 0) 87.5%, var(--azul-2) 87.5%);
    background-image: -webkit-linear-gradient(45deg, var(--azul-2) 12.5%, rgba(232, 227, 199, 0) 12.5%, rgba(232, 227, 199, 0) 37.5%, var(--azul-2) 37.5%, var(--azul-2) 62.5%, rgba(232, 227, 199, 0) 62.5%, rgba(232, 227, 199, 0) 87.5%, var(--azul-2) 87.5%);
    background-image: linear-gradient(45deg, var(--azul-2) 12.5%, rgba(232, 227, 199, 0) 12.5%, rgba(232, 227, 199, 0) 37.5%, var(--azul-2) 37.5%, var(--azul-2) 62.5%, rgba(232, 227, 199, 0) 62.5%, rgba(232, 227, 199, 0) 87.5%, var(--azul-2) 87.5%);
    background-size: 6px 6px;
}

.dashed-shadow:hover:before {
    animation: dash-animation 40s infinite linear;
}

.dashed-shadow:after {
    z-index: 2;
    content: attr(data-text);
    position: absolute;
    left: -8px;
    top: -8px;
    color: var(--branco-1);
    text-shadow: 3px 3px var(--azul-1);
}


/* FONT_STYLE */


/* HOME */


/* MORE LINKS */

.more-links {
    text-align: center;
}

.more-links .link {
    margin: 10px auto;
    width: 33%;
}

.link {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    background-color: var(--azul-1);
    color: black;
    display: inline-block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 90%;
}

.link:hover {
    background-color: var(--azul-2);
}

.link-voltar {
    background-color: var(--azul-2);
}


/* MORE LINKS */


/* ABOUT PAGES */

.about {
    margin-top: 30px;
}

.about-head {
    overflow: auto;
}

.about-head .about-img img {
    height: 200px;
    padding: 5px;
    width: 200px;
}

.about-head .about-discrip {
    width: calc(100% - 350px);
}

.about-head .about-discrip h2,
p {
    display: block;
}

.about-head .about-discrip .link {
    border: none;
    cursor: pointer;
    display: block;
    margin-right: 0;
    text-align: center;
    width: 150px;
}

.owl-carousel {
    width: 200px;
}

.owl-carousel .foto {
    margin: 0 auto;
}

.owl-carousel .foto a {
    display: block;
    overflow: hidden;
    text-align: center;
}

.owl-carousel .foto a img {
    display: block;
    margin: 0 auto;
    min-block-size: 100%;
    min-width: 100%;
}

.owl-dots {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    bottom: 7%;
    height: 15px;
    left: 0;
    list-style: none;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 998;
}

.owl-dots>* {
    background-color: var(--azul-1);
    border: 2px solid var(--branco-1);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    width: 15px;
}

.owl-dots>*.active {
    background-color: var(--cinza-1);
}

.owl-dots>*:hover:not(.active) {
    background-color: var(--azul-2);
}


/* ABOUT PAGES */


/* FORM PAGES */

.container-form {
    margin: 0 auto;
    max-width: 250px;
}

.formshow {
    margin: 0 auto;
    width: 250px;
}

.imput-form {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-size: 16px;
    text-indent: 6px;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    font: inherit;
}

.imput-form:active,
.imput-form:focus {
    box-shadow: 2px 2px 2px 0px #00048e;
}

.formshow label,
input {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 8px 0;
    width: 100%;
}

.forms .link {
    width: 100%;
}


/* FORM PAGES */


/* MEDIA QUERIES */

@media screen and (min-width: 1100px) {
    .container {
        display: block;
        margin: 0 auto;
        max-width: 1100px;
        padding: 0;
    }
    .more-links {
        padding: 20px 0;
    }
}

@media screen and (max-width: 1099px) {
    .container {
        margin: 0 auto;
        padding-left: 2%;
        padding-right: 2%;
        width: 96%;
    }
    .welcome h2 {
        font-size: 32pt;
    }
}

@media screen and (max-width: 767px) {
    .welcome h2 {
        font-size: 28pt;
    }
    .about-head {
        overflow: hidden;
    }
    .about-img {
        float: none;
    }
    .owl-carousel {
        margin: 0 auto;
    }
    .about-discrip {
        float: none;
        text-align: center;
        width: 100% !important;
    }
    .about-head .about-discrip .link {
        margin: 0 auto;
    }
    .more-links .link {
        height: auto;
    }
}


/* MEDIA QUERIES */