/** Vars **
***********/
//** Cores Padrão **//
$color-black: #03060F;
$color-white: #F6F6F2;
$color-green: #438945;

//** Esquema de cores **//
$color-one: #004BFA;
$color-two: #0038BA;
$color-three: #00257A;
$color-four: #0043E0;

//** Info **//
$color-primary: $color-one;
$color-warning: #E4E66F;
$color-danger: #B41E1E;

//** Background Colors **//
$bg-1: #1D1D2C;

//** Text **//
$h-color: #F7F4E9;
$p-color: #EBA63F;

/** Ul, Li **/
$libg-color: #3CBCC3;

/** link **/
$link-color: #1D1D2C;

/** shadow text **/
$shadow-text: #666;