:root {
    --color1: #FF6666;
    --color2: #FFFFFF;
}

body {
    background-color: var(--color1);
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #117474;
}

textarea {
    border: none;
    cursor: default;
    padding: 0;
    resize: none;
    text-align: left;
    width: 100%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

textarea:focus {
    outline: none;
}

.header {
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 57px;
    height: 57px;
    padding: 10px 0;
    position: absolute;
    width: 100%;
}

.header h1 {
    color: transparent;
    font-size: 10px;
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;
}

.section .article {
    background-color: var(--color2);
    font-size: 22px;
    margin: 0 auto;
    max-width: 850px;
    padding: 20px;
    text-align: left;
}

.demo1 {
    height: 250px;
    margin: 0 auto;
    width: 250px;
}

.demo1 a {
    display: block;
}

.demo1 a img {
    width: 100%;
 }